@import '../scss/partials/colors.scss';
@import '~bootstrap/scss/bootstrap';

body{
    background-color: $background;
    color: $main-text;
}

a{
    text-decoration: none;
    &:hover{
        color: $text;
    }
}

.text{
    color: $text;
}

p,
h5{
    color: $text;
}

h1,
h2,
h3,
h4{
    color: $main-text;
}

.navbar{
    a{
        color: white;
    }
    li{
        &:hover{
            background-color: $text;
            border-radius: 10px;
        }
        a:hover{
            color: white;
        }
    }

}


.detail{
    img{
        max-width: 200px;
        margin: 0 auto;
    }
    h6{
        padding: 8px 0;
        border-bottom: 1px solid black;
        width: 50%;
        margin: 0 auto;
    }

}
